body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    background-image: url('imagenes/fondo\ infantil.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b7f9c;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.right-buttons {
    display: flex;
    justify-content: center;
    gap: 50px; 
    width: 100%; 
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0b7f9c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.toggle-door {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.toggle-door i {
    margin-right: 10px; 
}

.button-container button:hover {
    background-color: #195463;
}

.door-content {
    display: none;
    width: 5cm; 
    height: calc(100vh - 60px); 
    background-color: #0b7f9c; 
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 60px; 
    left: 0;
    z-index: 900; 
}

.door-content.active {
    display: block;
}

.button-group {
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
}

.button-group button {
    background-color: #0b7f9c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px; 
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #0f3c47;
}

/* Botones con iconos para Registro y Cerrar Sesión */
.bottom-buttons {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.icon-button {
    background-color: #0b7f9c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon-button:hover {
    background-color: #124552;
}
