/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenedor superior */
.top-container {
    background-color: #f4f4f4;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-buttons h1 {
    display: inline-block;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

/* Contenedor inferior */
.bottom-container {
    background-color: #ffffff;
    padding: 20px;
}

.door-content {
    margin-top: 20px;
}

.icon-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icon-button:hover {
    background-color: #0056b3;
}

button.toggle-door {
    background-color: #008CBA;
    color: white;
}

button.toggle-door i {
    margin-right: 8px;
}
 
.image-container {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 100px;
}

.image-container img {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Ajusta el ancho al 80% del contenedor */
    max-width: 1200px; /* Limita el ancho máximo */
    height: auto;
    display: block; /* Asegura que la imagen sea un bloque */
    margin: 0 auto; /* Centra la imagen */
    top: 20px;  /* Mueve la imagen hacia abajo */
    left: 0;  /* No es necesario moverla a la derecha */
}
