* {
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
}

body {
    font-family: Arial, sans-serif;
    background-image: url('imagenes/fondo infantil.jpg'); /* Reemplaza con el nombre de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Asegúrate de que el body ocupe toda la altura de la ventana */
    margin: 0;
    display: flex; /* Añadir flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    
}
h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #1aa2eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #9346ec;
}