/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
}

/* Contenedor principal */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Sección izquierda: personajes animados y fondo colorido */
.left-side {
    flex: 1;
    /*background-image: url('imagenes/fondo infantil.jpg'); /* Reemplaza con tu imagen */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo img {
    width: 50%;
    height: auto;
}

/* Sección derecha: formulario de inicio de sesión */
.right-side {
    flex: 1;
    background-color: #b4edf5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #55d7f8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

input[type="submit"]:hover{
    background-color: #d56dfa;
    transition: .5s;
}

/*_------------------------------------------------------------------------------------------------------------------------- */


.container-registro {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-registro h2, h3 {
    color: #333;
}

.container-registro label {
    display: block;
    margin-top: 10px;
}

.container-registro input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*------------------------BIENVENIDO______________*/
